h1 {
    color: lightseagreen;
    font-size: 44}
body {
    background-color:beige}
h2 {
    color: midnightblue;
    font-size: 25 }
ul{
    color: darkgreen}
h3{
    color: mediumpurple;}
h4{
    color: mediumpurple;}
h5{
    color: mediumpurple;}
h6{
    color: rosybrown;
    font-size: 25}
h7{
    color: rosybrown;
    font-size: 25}
h12{
    color: rosybrown;
    font-size: 25}
h13{
    color: rosybrown;
    font-size: 25}
h14{
    color: rosybrown;
    font-size: 25}
h22{
    font-size: 20}